/* styles.css */

* {
    padding: 0;
    margin: 0;
}


header, footer, main {
    padding: 20px;
}

footer, header {
    background-color: rgb(19, 106, 77);
}

main {
    display: grid;
    grid-template-rows: 1fr;

}

.project-card {

    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    

}

.project-card img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    
}

.project-card svg {
    width: 28px;
    height: 28px;
}

.project-card p {
    text-align: justify;
}

.project-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}